#we want to show each item in the array inside of its own <h2> tag.
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Super Cool Friends List</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>My Super Cool Friends List</h1>

    <!-- Iterate through the @friends array here to display each item in its own <h2> tag -->
    <% @friends.each do |friend| %>
      #each friend has its own h2 tag 
      <h2><%= friend %></h2>
    <% end %>
  </body>
</html>
#friends.erb, which we'll be using to talk about iteration in erb